/* ELEMENT SELECTORS */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    font-family: oswald;
    margin: 0 auto;
    font-size: 1.4rem;
    line-height: 2em;
    }

a{
    text-decoration: none;
}

/* CLASS IN ALPHABETIC ORDER */

.ai-center{
    align-items: center;
}

.bgc-black{
    background-color: black;
}

.bgc-lightgray {
    background-color: lightgray;
}

.bgc-pink{
    background-color: #ed2164;
}

.bcg-white {
    background-color: white;
}

.c-black {
    color: black;
}

.c-white{
    color: white;
}

.c-gold{
    color: 	#FFD700;
}

.display-block{
    display: block;
}

.display-flex{
    display: flex;
}

.display-inline{
    display: inline;
}

.image-fit{
    image: 10%;
}

.flex-column{
    flex-flow: column wrap;
}

.flex-grow1{
    flex-grow: 1;
}

.flex-1 {
    flex: 1 0 0;
}

.flex-grow3{
    flex-grow: 3;
}

.font-3{
    font-size: 3rem;
}

.font-2{
    font-size: 2rem;
}

.fw-700{
    font-weight: 700;
}

.fxd-column{
    flex-direction: column;
}

.gap{
    gap: 1.5rem;
}

.h-20{
    height: 20%;
}

.h-100vh{
    height: 100vh;
}

.jc-spacearound{
    justify-content: space-around;
}

.jc-spacebetween {
    justify-content: space-between;
}

.jc-center {
    justify-content: center;
}

.list-none{
    list-style: none;
}

.mar-0{
    margin: 0;
}

.mar-bttm{
    margin-bottom: 1.5rem;
}

.mar-left {
    margin-left: 1.5rem;
}

.mg-top{
    margin-top: 1.5rem;
}

.mg-auto{
    margin-left: auto;
    margin-right: auto;
}

.maxw-100{
    max-width: 100%;
}

.pad-0{
    padding: 0;
}

.pad-15 {
    padding: 1.5rem;
}

.pad-3{
    padding: 3rem;
}

.pad-left{
    padding-left: 1.5rem;
}

.pad-right{
    padding-right: 1.5rem;
}

.txt-center{
    text-align: center;
}

.w-40 {
    width: 40%;
}

.w-100{
    width:100%
}

/* HOVER CLASS NAV BAR */

.menu-item:hover {
    opacity: 0.5;
}

/* ICON CLASSES */

.fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }
  .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }




/* MEDIA QUERY PROPERTIES */

@media (min-width:768px){
    .display-flex\@lrg {
        display: flex;
}
    .flex-grow1\@lrg {
        flex-grow: 1;
}
    .flex-grow3\@lrg{
        flex-grow: 3;
}    
    .mar-left\@lrg{
        margin-left: 1.5rem;
}
    .mar-bttm\@lrg {
        margin-bottom: 0;
    }
   }
