*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 1rem auto;
}

body{
    width: 100%;
    position: relative;
    flex-flow: row wrap;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(38,40,40,1) 25%, rgba(65,66,66,1) 94%);
    color: white;
}

/* remove overflow if items not aligning well */
nav {
    position: fixed;
    left: 0;
    top: 0;
    flex-flow: column nowrap;
    width: 20%;
    height: 100%;
}

.ul {
    list-style-type: none;
    flex-flow: column nowrap;
    display: block;
    justify-content: flex-start;
    text-align: center;
    color: white;
    align-items: flex-start;

}

section{ 
    flex-direction: row;
    justify-content: flex-end;
    justify-items: flex-end;
    width: 70%;
}

h1, h2, h3, h4, h5 {
    width: 70%;
    justify-items: flex-end;
    margin: 20 auto pink;
    padding: 20px 40px;
    border: 10px solid pink;
    background-color: rgb(80, 8, 248);
    flex-flow: row nowrap;
  }

footer {
    width: 100%;
    /* Sets display to block */
    display:flex;
    /*Sets margins to center elements*/
    margin: 20 auto pink;
    padding: 20px 40px;
    border: 10px solid pink;
    background-color: rgb(6, 30, 238);
    justify-content: center;
    flex-flow: row wrap;
  }

body{
        font-size:1.5rem
}

/* CLASSES */
.img-sec{
    background: none;
    border: none;
}

.eb-image{
    height: 200px;
    width: auto;
    object-fit: contain;
    display: block;
}

.eb-logo{
    width: 100%;
    height: auto;
}

.eugenio {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}


